.pastry-container {
  font-family: sans-serif;
  text-align: center;
  background-color: #fff8f8;
  padding: 40px;
  direction: rtl;
}
.mixer {
  width: 300px;
}
.contact {
  margin-top: 30px;
  font-size: 18px;
}
.contact a {
  text-decoration: none;
  color: #d6336c;
  margin: 0 10px;
}
.icons img,
.instagram img {
  width: 24px;
  vertical-align: middle;
  margin-left: 6px;
  cursor: pointer;
}
.logo {
  width: 80px;
  margin-top: 20px;
}
